.dropdown-menu {
	color: #FFFFFF;
	background-color: rgb(136, 11, 22);
}

.dropdown-menu>li>a {
	color: #FFFFFF;
}

#menu-margin-colors {
	margin-top:7px;
	margin-right: 3px;
	margin-left: 3px;
	background-color: rgb(136, 11, 22);
	color: #FFFFFF;
	text-decoration: none;
}

.img-responsive {
	height: 66px;
}

.navbar {
	background-color: rgb(136, 11, 22);
}

.mainpagepics {
  background-image: url('../img/index/6.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin-top: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
	padding: 1em;
	width: 20%;
}

.flexitemteam {
	padding: 1em;
}

.flexitemevents {
	padding: 1em;
	width: 32%;
}

.eventscontainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	max-height: 100%;
	max-width: 100%;
}
img.banner {
	width: 100%;
	height: 25em;
}
table {
	margin: 2%;
	margin-right: 4%;
	padding: 1em;
}